<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Info boxes -->
        <div class="row">    
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h4>Yüklenenler</h4>
                        <p>13 adet</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-list"></i>
                    </div>
                    <a href="@Url.Action("Index","Document")" class="small-box-footer">Devam etmek için tıklayın <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h4>İçeri Aktar</h4>

                        <p>Yeni belge yükleyebilirsiniz</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-upload"></i>
                    </div>
                    <a href="@Url.Action("Upload","Document")" class="small-box-footer">Devam etmek için tıklayın <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
        </div>
        <!-- /.row -->
    </div><!--/. container-fluid -->
</section>
<!-- /.content -->